body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #02325a, #00467F);
    color: #fff;
    line-height: 1.6;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .section {
    margin: 2rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .resources-container,
  .forum-container,
  .bookmark-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .resource-card {
    padding: 1rem;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .resource-card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 20px rgb(162, 249, 249);
  }
  
  .resource-card a {
    text-decoration: none;
    color: #fff;
  }
  
  .red {
    background-color: #e20001;
  }
  
  .blue {
    background-color: #00467F;
  }
  
  .green {
    background-color: #007B3D;
  }
  
  .forum-question {
    padding: 1rem;
    background: #003459;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .forum-question:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 20px rgb(162, 249, 249);
  }
  
  .forum-question a {
    color: #1bbcb6;
    text-decoration: none;
  }
  