:root {
    --primary-color: linear-gradient(
        to bottom,
        #144671 33%,
        #0E2F4C 67%,
        #0B243A 83%,
        #091928 100%
    );
    --secondary-color: #1bbcb6;
    --text-color: #144671;
    --white: #fff;
    --shadow: rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent unwanted scrolling */
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--primary-color); /* Apply the gradient background to the body */
}

.container {
    background-color: var(--white);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px var(--shadow);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.message {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.confirmation-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #17a89f;
}

.status-message {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);
}

@media (max-width: 991px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .message {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 10px;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}
